detection_pipeline.py
gstreamer_helper_pipelines.py

# Temporary images and videos, and logs
output/
input/
logs/
models/*.hef
!models/pigeonator-mk3-b.v4.yolov8.hef
!models/pigeonator-mk3-b.v4.yolov8p.hef
!models/pigeonator-mk3-b.v3i.yolov8.hef

# Temporary files   
classalert.mp3
hello.mp3

# Config files
config.json